* {
    font-family: sans-serif;
   
}

body {
    background-color: #fff;
    justify-content: center;
}

.box {
    width: 500px;
    height: 520px;
    padding: 40px; 
    position:absolute;
    top: 50%;
    left: 50%;
    /* background-color: aqua; */
    transform: translate(-50%, -50%); 
    background: url("image/image20_re.jpg") no-repeat ;
    text-align: center;
    
}


/* .box input[type = "email"],.box input[type = "password"],.box input[type = "confirmpassword"] {
    border: 0;
    background: none;
    padding-left: 11%;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 200px;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 40px;;
    transition: 0.25s;
    stop-opacity: inherit;
} */





