* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5e7e7;
    justify-content:center;
    font-family: sans-serif;
}

    /* .box{
        opacity: 0.2;
        width: 550px;
        padding: 40px;
        padding-left: 11%;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        background: #191919;
        text-align: center; 
        background: url("image/image16_re.jpg") no-repeat;
    } */

.box h1 {
    color: white;
    /* padding-left: 11%; */
    font-weight: 250;
    font-family:sans-serif ;
    padding-top: 1.75%;
}

.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    /* padding-left: 11%; */
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 200px;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 40px;;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "text"]:hover,.box input[type = "password"]:hover {
    text-transform:uppercase ;
}
.box input[type = "submit"] {
    border: 0;
    display: inline-block;
    font-family: sans-serif;
    background: none;
    display:block;
    margin: 20px auto;
    text-align:left;
    border: 2px solid #2ecc71;
    padding: 10px 18px;
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background-color: #2ecc71;
}

.box input[type = "button"] {
    border: 0;
    display: inline-block;
    font-family: sans-serif;
    background: none;
    display:block;
    margin: 20px auto;
    text-align:left;
    border: 2px solid #2ecc71;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.25s;
    cursor: pointer;
}

.log{
    width: 550px;
    /* padding: 40px;*/
    padding-left: 11%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #191919;
    text-align: center;
    background: url("image/image16_re.jpg") no-repeat;
}

p {
    text-align: center;
    color: #191919;
    font-weight:bold;
    font-family:sans-serif;
    padding-right: 15%;
    font-size: 1.15rem;
    font-style: italic;
}

.bono {
    padding: 7%;
}
.class2{
    text-align: center;
    position:static;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%; 
}